* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e4e4e4;
    color: #777;
    font-family: Montserrat, Arial, sans-serif;
}

.box {
    background-color: #262D47;

    padding: 25px 25px;
    border-radius: 4px;
}

#chart {
    /* max-width: 760px; */
    margin: 5% 5% 5% 5%;
    opacity: 0.9;
}